#################
## Xilinx ISE
#################

*.a
*.ammdb
*.asy
*.bat
*.bgn
*.bld
*.bpm
*.c
*.cdb
*.cgp
*.cmd
*.cmd_log
*.csv
*.data
*.dbg
*.ddb
*.dfp
*.didat
*.do
*.done
*.dpi
*.drc
*.edif
*.exe
*.filter
*.gise
*.hb_info
*.hdb
*.hier_info
*.hif
*.hsd
*.html
*.idb
*.in
*.ini
*.ipc
*.ipf
*.ipinfo
*.jdi
*.jou
*.kpt
*.log
*.logdb
*.lso
*.lst
*.map
*.mrp
*.names_drv_tbl
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.obj
*.out
*.pad
*.par
*.pcf
*.pdf
*.pin
*.ppr
*.prj
*.projectmgr
*.ptwx
*.qmsg
*.qns
*.qsf
*.qws
*.rcfdb
*.rdb
*.rpt
*.scr
*.sdc
*.sh
*.sig
*.sim
*.smsg
*.sof
*.stx
*.summary
*.sv
*.sym
*.syr
*.tcl
*.tdf
*.tmp
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.vdb
*.vdbl
*.vdbx
*.vho
*.wdb
*.xbcd
*.xdc
*.xdl
*.xmgs
*.xmsgs
*.xml
*.xpi
*.xreport
*.xrpt
*.xst
*.xwbt
*.zip
_xmsgs/*





