NET "BRD_RESET_SW" IOSTANDARD = LVCMOS25;
NET "BRD_RESET_SW" LOC = L9;
NET "BRD_CLK_P" DIFF_TERM = "TRUE";
NET "BRD_CLK_P" IOSTANDARD = LVDS_25;
NET "BRD_CLK_P" LOC = J9;
NET "BRD_CLK_N" DIFF_TERM = "TRUE";
NET "BRD_CLK_N" IOSTANDARD = LVDS_25;
NET "BRD_CLK_N" LOC = H9;

NET "FPGA_LED[*]" TIG;
NET "FPGA_LED[*]" IOSTANDARD = LVCMOS15;
NET "FPGA_LED[0]" LOC = H10;
NET "FPGA_LED[1]" LOC = G26;
NET "FPGA_LED[3]" LOC = D22;
NET "FPGA_LED[2]" LOC = C22;

NET "FPGA_PROG_B" IOSTANDARD = LVCMOS25;
NET "FPGA_PROG_B" LOC = J32;

NET "MDC" 		LOC = A33 | IOSTANDARD = LVCMOS25;
NET "MDIO_PAD" LOC = B33 | IOSTANDARD = LVCMOS25;
NET "PHY_RSTN" LOC = G31 | IOSTANDARD = LVCMOS25;
NET "PHY_LASI" LOC = K9 | IOSTANDARD = LVCMOS25;
NET "PHY_LASI" TIG;
NET "PHY_LASI" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PHY_INTA" LOC = L10 | IOSTANDARD = LVCMOS25;
NET "PHY_INTA" TIG;

NET "DIP_GPIO[*]" IOSTANDARD = LVCMOS15;
NET "DIP_GPIO[0]" LOC = A18;
NET "DIP_GPIO[1]" LOC = A19;
NET "DIP_GPIO[2]" LOC = K21;
NET "DIP_GPIO[3]" LOC = K22;
NET "DIP_GPIO[4]" LOC = B18;
NET "DIP_GPIO[5]" LOC = C18;
NET "DIP_GPIO[6]" LOC = L20;
NET "DIP_GPIO[7]" LOC = L21;

NET "PHY10G_RCK_P" LOC = H6;
NET "PHY10G_RCK_N" LOC = H5;

NET "FXRX_N[0]" LOC = G4;
NET "FXRX_P[0]" LOC = G3;
NET "FXRX_N[1]" LOC = E4;
NET "FXRX_P[1]" LOC = E3;
NET "FXRX_N[2]" LOC = D6;
NET "FXRX_P[2]" LOC = D5;
NET "FXRX_N[3]" LOC = B6;
NET "FXRX_P[3]" LOC = B5;
NET "FXTX_N[0]" LOC = D2;
NET "FXTX_P[0]" LOC = D1;
NET "FXTX_N[1]" LOC = C4;
NET "FXTX_P[1]" LOC = C3;
NET "FXTX_N[2]" LOC = B2;
NET "FXTX_P[2]" LOC = B1;
NET "FXTX_N[3]" LOC = A4;
NET "FXTX_P[3]" LOC = A3;